*, body{
    background-color: whitesmoke;
    text-align: center;
}

header {
    margin: 70px;
}

main {
    margin-top: 10px;
}

.btn-primary{
    background-color: green;
    border: olivedrab;
}

