# Python / Django
__pycache__/ 
*.py[cod]
*.egg-info/

# Virtual env
.venv/

# DB / media
db.sqlite3
/staticfiles/
/media/

# Env files
.env
.env.*
*.env
!.env.example

# IDE
.vscode/
.idea/
.env
.env.*
*.env
!.env.example

# Project files
pyproject.toml
site_dump/