<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} · Better Billing{% endblock %}</title>
    {% load static %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head><body class="bg-light">
  </head>
  <body>
    {% block content %}{% endblock %}
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
